@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/wintry';
@import '@skeletonlabs/skeleton/themes/reign';
@import '@skeletonlabs/skeleton/themes/mint';
@import '@skeletonlabs/skeleton/themes/rose';
@import '@skeletonlabs/skeleton/themes/pine';
@import '@skeletonlabs/skeleton/themes/cerberus';

@import '../node_modules/highlight.js/styles/github-dark.css';

@import '@skeletonlabs/skeleton-svelte';

@custom-variant dark (&:where(.dark, .dark *));

.hljs {
  font-size: 14px;
}

pre {
  padding: 0;
}

code::before {
  content: '';
}

code::after {
  content: '';
}
